.cabecalho1 {
  background-color: rgb(000, 111, 205);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  max-width: 100vw;
  align-items: center;
  justify-content: space-between;
}
.perfil {
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  max-width: 90vw;
  gap: 15vw;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.mainpage {
  background-image: linear-gradient(
    rgb(000, 111, 205),
    #00335E,
    rgb(000, 111, 205)
  );
  min-height: 70vh;
  max-height: 70vh;
  min-width: 100vw;
  max-width: 100vw;
}
/* b3dcff */